.custom-img {
  width: 940px;
  height: 480px;
  object-fit: cover; /* Ensures the image covers the entire area */
}
.tea {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
.tea:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}
